---
import { Url } from "../utils/url";
---

<!doctype html>
<meta charset="utf-8" />
<title>Redirecting to {Url}</title>
<meta
  http-equiv="refresh"
  content={`0; URL=${Url}`}
/>
<link rel="canonical" href={Url} />