---
import Page from '../components/page.tsx';
import { SEO } from 'astro-seo';
import { SeoProps } from '../utils/seo';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<title>Risk Dice Roller</title>
		<SEO {...SeoProps} />
	</head>

	<body>
		<Page client:load />
	</body>
</html>