---
import { SEO } from 'astro-seo';
import Page from '../components/page.tsx';
import { SeoProps } from '../utils/seo';
import Pwa from '../components/pwa.astro';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<title>Risk Dice Roller</title>
		<script defer data-domain="arthur.run" src="https://plausible.io/js/script.js" is:inline></script>
		<Pwa />
		<SEO {...SeoProps} />
	</head>

	<body>
		<Page client:load />
	</body>
</html>
